.btn-add {
    display: flex;
    align-items: center;
    background-color: var(--tertiary);
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    
    margin-top: -10px; 
    margin-left: 25px;  
}

.btn-add:hover:not(:disabled){
    background-color: #436da7;
    cursor: pointer;
}